# Python 캐시/빌드 산출물
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 가상환경
venv/
.env/
.venv/

#ffmpeg라이브러리
ffmpeg/*
!ffmpeg/.gitkeep

# 빌드 도구 산출물
build/
dist/
*.egg-info/

# VSCode, PyCharm 등
.vscode/
.idea/

# PyInstaller, cx_Freeze 등으로 만든 실행 파일
*.spec
*.exe
*.dll
*.app
*.dmg
